/*
Gmarket Sans는 'SIL Open Font License'에 따라
개인 또는 기업이 영리적, 비영리적 목적으로 자유롭게 사용할 수 있습니다.
*/

@font-face {
    font-family: 'GmarketSans';
    src: url('../fonts/GmarketSansMedium.woff2') format('woff2'),
        url('../fonts/GmarketSansMedium.woff') format('woff'),
        url('../fonts/GmarketSansMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('../fonts/GmarketSansBold.woff2') format('woff2'),
        url('../fonts/GmarketSansBold.woff') format('woff'),
        url('../fonts/GmarketSansBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}